.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --color-text: #757575;
  --color-title: #212121;
  --color-focus: #2196F3;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  background-color: #ffffff;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* layout */
.header {
  border-bottom: 1px solid #eeeeee;
}

.header .logo {
  margin-right: 93px;
}

.header .address {
  margin-left: auto;
}

.logo {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--color-title);
}

.logo-first-part {
  color: var(--color-focus);
}

.navigation {
  display: flex;
  align-items: center;
  height: 80px;
}

.navigation-list {
  display: flex;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--color-title);
  padding-bottom: 31px;
  transition: color 250ms var(--timing-function);
}

.navigation-list-item-link.current {
  position: relative;
  color: var(--color-focus);
}

.navigation-list-item-link.current:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--color-focus);
}

.current,
.navigation-list-item-link:hover,
.navigation-list-item-link:focus {
  color: var(--color-focus);
}

.address-list {
  display: flex;
  height: 17px;
}

.contact-information:not(:last-child) {
  margin-right: 50px;
}

.contact-information-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--color-text);
  transition: color 250ms var(--timing-function);
}

.contact-information-link:hover,
.contact-information-link:focus,
.contact-information-link:hover .header-icon,
.contact-information-link:focus .header-icon {
  color: var(--color-focus);
  fill: var(--color-focus);
  transition: color 250ms var(--timing-function), fill 250ms var(--timing-function), border-color 250ms var(--timing-function);
}

.header-icon {
  fill: #757575;
  margin-right: 10px;
}

.header-icon:hover, .header-icon:focus {
  fill: #2196f3;
}

.hero {
  background: #2F303A;
  padding-top: 200px;
  padding-bottom: 200px;
  min-height: 600px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 696px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}

.button {
  background: var(--color-focus);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

/*=============== modal window =============*/
.backdrop {
  perspective: 500px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  position: relative;
  margin: auto;
  min-width: 528px;
  width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1) rotateX(0);
  padding: 40px;
}

.backdrop.is-hidden .modal-window {
  transform: scale(0) rotateX(-180deg);
}

.modal-close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  margin-right: 8px;
  margin-top: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  background-color: white;
}

.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.close-icon:focus,
.close-icon:hover {
  fill: var(--color-focus);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: 250ms linear;
}

.modal-input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.modal-input:focus + .modal-icon {
  fill: var(--color-focus);
}

.modal-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: 250ms linear;
}

.modal-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-field {
  margin-bottom: 10px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-textarea:focus {
  outline: none;
}

.modal-policy:checked + .modal-policy-text::before {
  background-color: var(--color-focus);
  background-image: url("/img/modal/oke.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 1px solid var(--color-focus);
  border-radius: 4px;
}

.modal-policy-text::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  margin-right: 7px;
  border-radius: 4px;
}

.modal-policy-text {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 20px;
}

.modal-text-link {
  color: var(--color-focus);
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.modal-btn {
  width: 200px;
  height: 50px;
  transform: translateX(50%);
  margin-top: 30px;
}

.advantage {
  margin-top: 94px;
}

.advantage-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.advantage-list {
  display: flex;
}

.advantage-list-item {
  display: block;
  width: 270px;
}

.advantage-list-item + .advantage-list-item {
  margin-left: 30px;
}

.advantage-list-item-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  color: var(--color-title);
}

.advantage-list-item-text {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--color-text);
}

.about .container {
  margin-top: 94px;
  margin-bottom: 94px;
}

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
  margin-bottom: 50px;
}

.about-list {
  display: flex;
  justify-content: space-between;
}

.about-list-item {
  position: relative;
}

.about-label {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.about-labek-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1,142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  color: white;
}

.team {
  background: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  justify-content: space-between;
}

.team-list-item {
  background: #ffffff;
  display: inline-block;
  width: 270px;
  height: 428px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item-photo {
  margin-bottom: 30px;
}

.team-list-item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-title);
  margin-bottom: 10px;
}

.team-list-item-profession {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text);
  margin-bottom: 30px;
}

.team-social-logo {
  display: flex;
  justify-content: center;
}

.social-media-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.social-logo-link:not(:last-child) {
  margin-right: 10px;
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: var(--color-focus);
}

.social-media-link:hover .social-logo-item,
.social-media-link:focus .social-logo-item {
  fill: white;
}

.social-logo-item {
  fill: #afb1b8;
}

.clients-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
  margin-bottom: 50px;
  margin-top: 94px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  margin-bottom: 94px;
  transition: color 250ms var(--timing-function), fill 250ms var(--timing-function), border-color 250ms var(--timing-function);
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--color-focus);
  border-color: var(--color-focus);
}

.footer {
  background: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 20px;
}

.footer-flex {
  display: flex;
}

.footer-label {
  font-weight: bold;
  font-size: 14px;
  line-height: 1,142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 358px;
  height: 50px;
  color: #FFFFFF;
}

.footer-input {
  width: 358px;
  height: 50px;
  margin-top: 20px;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 16px;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: background-color 250ms var(--timing-function);
}

.footer-input:focus {
  border: none;
  box-shadow: none;
  border-radius: 0px;
}

.footer-form {
  display: flex;
  margin-left: 93px;
  margin-top: 12px;
}

.footer-form-btn {
  display: flex;
  width: 200px;
  height: 50px;
  margin-top: 36px;
  margin-left: 12px;
  background-color: var(--color-focus);
  border: 1 solit var(--color-focus);
  border-radius: 4px;
  padding: 10px 10px 10px 29px;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: white;
}

.footer-form-svg {
  margin-left: 10px;
}

.map {
  width: 231px;
  height: 21px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  display: inline-block;
  margin-bottom: 9px;
}

.contact-information:not(list-child) {
  margin-bottom: 9px;
}

.join {
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.join-list {
  display: flex;
  margin-top: 20px;
}

.join-list-item:not(:last-child) {
  margin-right: 10px;
}

.join-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.join-list-link {
  fill: #ffffff;
  transition: background-color 250ms var(--timing-function);
}

.join-list-link:hover,
.join-list-link:focus {
  background-color: var(--color-focus);
}

.container-join {
  margin-left: 70px;
  margin-top: 12px;
}

.portfolio .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-categories-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-title);
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;
}

.list-categories-text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--color-text);
  margin-left: 24px;
}

.button-categories:hover,
.button-categories:focus {
  color: var(--color-focus);
}

.button-categories {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  background: #F5F4FA;
  color: #212121;
  display: block;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  box-shadow: none;
  padding: 6px 22px;
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.button-categories:hover,
.button-categories:focus {
  color: #ffffff;
  background: #2196F3;
}

.button-list {
  display: flex;
  justify-content: center;
  padding: 22px;
}

.button-categories:not(list-child) {
  margin-left: 8px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 -5px;
}

.list-categories-foto {
  display: inline-block;
  width: 370px;
  height: 404px;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  transition: color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.list-categories-item {
  width: calc((100% - 2 * 30px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  box-shadow: none;
}

.list-categories-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.list-categories-item:nth-child(3n) {
  margin-right: 0;
}

.butoon-style {
  display: inline-block;
  border: 73px 26px;
}

.butoon-container {
  margin-bottom: 50px;
}

.portfolio-card-thumb {
  position: relative;
  overflow: hidden;
}

.thumb-overlay {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.list-categories-foto {
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-categories-foto:hover, .list-categories-foto:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}

.list-categories-foto:hover .thumb-overlay,
.list-categories-foto:focus .thumb-overlay {
  transform: translateY(0);
}

.text {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  width: 322px;
  color: white;
}
/*# sourceMappingURL=main.css.map */